#Variables prod
APP_ENV=prod
IMAGE_TAG=placeholder

GITHUB_ORG=karaokeOnine

PORT_FRONTEND=80
PORT_BACKEND=3000

DB_NAME=placeholder
DB_USER=placeholder
DB_PASSWD=placeholder
DB_URL=placeholder

MAX_ROOM_SIZE=9
SKIP_VOTE_THRESHOLD_PERCENT=60

LIVEKIT_API_KEY=placeholder
LIVEKIT_API_SECRET=placeholder
LIVEKIT_URL=placeholder

EXPO_PUBLIC_API_URL=placeholder